@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 126 68% 98%;
    --foreground: 126 76% 1%;
    --muted: 246 7% 92%;
    --muted-foreground: 246 5% 39%;
    --popover: 126 68% 98%;
    --popover-foreground: 126 76% 1%;
    --card: 126 68% 97%;
    --card-foreground: 0 0% 0%;
    --border: 126 13% 93%;
    --input: 126 13% 93%;
    --primary: 126 78% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 125.93 77.78% 22.94%;
    --secondary-foreground: 246 78% 83%;
    --accent: 6 78% 23%;
    --accent-foreground: 6 78% 83%;
    --destructive: 0 86% 23%;
    --destructive-foreground: 0 86% 83%;
    --ring: 126 78% 23%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 126 44% 1%;
    --foreground: 126 21% 100%;
    --muted: 246 7% 8%;
    --muted-foreground: 246 5% 61%;
    --popover: 126 44% 1%;
    --popover-foreground: 126 21% 100%;
    --card: 126 44% 2%;
    --card-foreground: 0 0% 100%;
    --border: 126 13% 10%;
    --input: 128.57 13.73% 10%;
    --primary: 234.07 77.78% 22.94%;
    --primary-foreground: 246.27 77.01% 82.94%;
    --secondary: 125.93 77.78% 22.94%;
    --secondary-foreground: 0 0% 100%;
    --accent: 6 78% 23%;
    --accent-foreground: 6 78% 83%;
    --destructive: 0 86% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 126 78% 23%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
